:root {
  --main-color:rgb(26,188,156);
  --layout-color:rgb(44,62,80);
  --footer-foot-color:rgb(26,37,47);
  --light:white;
  --dark:black;
  --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-color);
}

.bg-layout {
  background-color: var(--layout-color);
}

/* navbar utilities */

.active {
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 10px;
}

.transition {
  transition: .8s;  
}

.w-fit-content {
  width: fit-content;
}

.navbar { 
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* footer utilies */
.icon {
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-foot {
  background-color: var(--footer-foot-color);
}

/* home utilities  */
.header {
  position: relative; 
}

.header i {
  position: absolute;
  bottom: -17px;
  left: 45%;
  z-index: 20; 
  
}

.header::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 100px;
  right: 100px;
  background-color: var(--light);
  height: 5px;
}

.header::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40%;  
  background-color: var(--main-color);
  height: 5px;
  width: 100px;
  z-index: 10;
}

